<nav class="navbar navbar-light bg-dark">
    <!-- Heading -->
    <span class="navbar-brand mb-0 h1 text-light">Career Camp</span>
    <div>
        <!-- Navbar-->
        <a href="/user/dashboard" class="btn btn-success">Dashboard</a>
        <a href="/user/addStudent" class="btn btn-success">Add Student</a>
        <a href="/interview/interview-list" class="btn btn-success">Add Interview</a>
        <button class="btn btn-light">Welcome <%= user.name  %></button>
        <a href="/user/logout"  class="btn btn-danger">Logout</a>
    </div>
</nav>