<div>
    <form action="" method="post">
        <% for(student of studentList){ %>
            <input type="checkbox" name="student" id="<%= student.id %>" value="<%= student.id %>">
            <label for="<%= student.id %>"><%= student.name %></label><br>
        <% } %>
        <input type="submit" value="Allocate">
    </form>
</div>
